<h2 class="page-title">Custom Icons</h2>

<code-example
    codeExampleUrl="./assets/docs/code-examples/icons/icons-interface.example.ts"
    title="API"
    [isUsageDocumentation]="false">

    <p>All Icons adhere to the following interface:</p>
</code-example>

<code-example title="Creating your own icon" codeExampleUrl="./assets/docs/code-examples/icons/icon.example.ts">
    <p>You can use the example below to create your own version of the error icon. This will adhere to the INgxFluentDesignIcon interface</p>
</code-example>

