<h2 class="page-title">Form Field Borderless</h2>

<section class="my-4">
    <ngx-fluent-design-message-bar messageBarType="warning">
        It is recommended that you add your own error messaging to this input type as there will be no indicator for errors
    </ngx-fluent-design-message-bar>
</section>

<code-example
    codeExampleUrl="./assets/docs/code-examples/inputs/reactive/ngx-fluent-design-input.interface.example.ts"
    title="API"
    [isUsageDocumentation]="false">
</code-example>

<code-example
    codeExampleUrl="./assets/docs/code-examples/inputs/form-field-borderless/reactive-forms-usage.example.ts"
    title="Basic Usage (Reactive Forms):">
    <h3 class="mb-4">Output</h3>
    <ngx-fluent-design-form-field-borderless [disabled]="disableStandardInput" [label]="'standard Input'">
        <input ngxFluentDesignInput placeholder="this is a borderless input" [formControl]="standardInput">
    </ngx-fluent-design-form-field-borderless>

    <ngx-fluent-design-toggle
        [label]="'Toggle disabled'"
        [toggled]="disableStandardInput"
        [inlineLabel]="true"
        (changeEvent)="disableStandardInput = !disableStandardInput">
    </ngx-fluent-design-toggle>
</code-example>

<code-example
    codeExampleUrl="./assets/docs/code-examples/inputs/form-field-borderless/form-field-underlined-text-area-usage.example.ts"
    title="TextArea Basic Usage (Reactive Forms)">
    <h3 class="mb-4">Output</h3>
    <ngx-fluent-design-form-field-borderless [disabled]="disableTextAreaInput" [label]="'standard Input'">
        <textarea ngxFluentDesignInput placeholder="this is a borderless text area" rows="5"
                  [formControl]="textAreaInput"></textarea>
    </ngx-fluent-design-form-field-borderless>

    <ngx-fluent-design-toggle
        [label]="'Toggle disabled'"
        [toggled]="disableTextAreaInput"
        [inlineLabel]="true"
        (changeEvent)="disableTextAreaInput = !disableTextAreaInput">
    </ngx-fluent-design-toggle>
</code-example>

<code-example
    codeExampleUrl="./assets/docs/code-examples/inputs/form-field-borderless/reactive-forms-usage-validators.example.ts"
    title="Usage with Validators">
    <h3 class="mb-4">Output</h3>
    <ngx-fluent-design-form-field-borderless [disabled]="disableStandardInputWithValidator" [label]="'borderless Input'">
        <input ngxFluentDesignInput placeholder="this is a borderless text area with a validator"
               [formControl]="standardInputValidator">
    </ngx-fluent-design-form-field-borderless>

    <ngx-fluent-design-toggle
        [label]="'Toggle disabled'"
        [toggled]="disableStandardInputWithValidator"
        [inlineLabel]="true"
        (changeEvent)="disableStandardInputWithValidator = !disableStandardInputWithValidator">
    </ngx-fluent-design-toggle>

</code-example>
