<h2 class="page-title">Form Field Borderless</h2>

<section class="my-4">
    <ngx-fluent-design-message-bar messageBarType="warning">
        It is recommended that you add your own error messaging to this input type as there will be no indicator for errors
    </ngx-fluent-design-message-bar>
</section>

<version-support-table [supportsV11]="true" [supportsV12]="true" [supportsV13]="true"></version-support-table>
<component-api-table [data]="apiData"></component-api-table>

<code-example
    codeExampleUrl="./assets/docs/code-examples/inputs/form-field-borderless/reactive-forms-usage-validators.example.ts"
    title="Usage">
    <h3 class="mb-4">Output</h3>
    <ngx-fluent-design-form-field-borderless [disabled]="disableStandardInputWithValidator">
        <input ngxFluentDesignInput placeholder="this is a borderless text area with a validator"
               [formControl]="standardInputValidator">
    </ngx-fluent-design-form-field-borderless>

    <ngx-fluent-design-toggle
        [label]="'Toggle disabled'"
        [toggled]="disableStandardInputWithValidator"
        [inlineLabel]="true"
        (changeEvent)="disableStandardInputWithValidator = !disableStandardInputWithValidator">
    </ngx-fluent-design-toggle>

</code-example>
