<h2 class="page-title">Dialog</h2>

<ngx-fluent-design-card>
    <ngx-fluent-design-dialog [header]="'Example'" [displayCloseIcon]="true">
        <p>This is just an example dialog</p>
    </ngx-fluent-design-dialog>

    <section class="my-5">
        <ngx-fluent-design-button type="primary" (clicked)="toggleDialog(true)">
            Click Here to launch a real dialog
        </ngx-fluent-design-button>
    </section>
</ngx-fluent-design-card>

<code-example
    codeExampleUrl="./assets/docs/code-examples/alerts/alert-interface.example.ts"
    title="Interface"
    [isUsageDocumentation]="false">
</code-example>

<code-example [isUsageDocumentation]="true"
              codeExampleUrl="./assets/docs/code-examples/alerts/alert-usage.example.ts">
</code-example>

<ngx-fluent-design-sheet [hidden]="!isToggled">
    <section class="w-100 h-100 d-flex align-items-center justify-content-center">
        <ngx-fluent-design-dialog header="Tadaaaaaa"
                                  primaryActionName="Close"
                                  [displaySecondaryAction]="false"
                                  (primaryActionClicked)="toggleDialog(false)">
            <p>Nice! This is a Dialog component on top of a sheet</p>
        </ngx-fluent-design-dialog>
    </section>
</ngx-fluent-design-sheet>

