@import "~ngx-fluent-design/src/lib/styles/variables";

.component-api-table {
    background: var(--application-background);
    width: 100%;
    overflow-x: auto;

    table {
        border: 1px solid transparent;
        border-radius: 2px;
        width: 100%;
        color: $ngx-fluent-design-foreground-neutral-primary;
    }

    td, th {
        border: 1px solid transparent;
        text-align: left;
        padding: 8px;
        border-radius: 2px;
    }

    tr:nth-child(even) {
        background-color: $ngx-fluent-design-foreground-white;
    }
}
