<ngx-fluent-design-card>
  <h3 class="pane-header">API</h3>
  <section class="component-api-table">
    <table>
      <tr>
        <th>Name</th>
        <th>Is Required</th>
        <th>Description</th>
      </tr>
      @for (apiData of data; track apiData) {
        <tr>
          @if (apiData.isInput) {
            <td><code>@Input() {{apiData.name}}</code></td>
          }
          @if (apiData.isOutput) {
            <td><code>@Output() {{apiData.name}}</code></td>
          }
          @if (!apiData.isInput && !apiData.isOutput) {
            <td><code>{{apiData.name}}</code></td>
          }
          <td>{{apiData.isRequired | json}}</td>
          <td>{{apiData.description}}</td>
        </tr>
      }
    </table>
  </section>

  <ng-content></ng-content>
</ngx-fluent-design-card>
