<h2 class="page-title">Select (Still in development)</h2>
<version-support-table [supportsV11]="true" [supportsV12]="true" [supportsV13]="true"></version-support-table>
<component-api-table [data]="selectApiData"></component-api-table>

<code-example
    codeExampleUrl="./assets/docs/code-examples/inputs/select/select-component-usage.example.ts"
    title="Usage with Validators">
    <h3 class="mb-4">Output</h3>
    <ngx-fluent-design-select-component [options]="['Option 1', 'Option 2']"
                                        [id]="'SomeId'"
                                        [label]="'Select'">
    </ngx-fluent-design-select-component>
</code-example>
