<div class="mobile-nav-menu-button"
     *ngIf="!mobileSidenavHandler.isOpen"
     (click)="handleCloseClickEvent()">
    <ngx-fluent-design-icon [ngxFluentDesignCssVariableName]="customOpenIcon.fillColor"
                            [icon]="customOpenIcon.icon">
    </ngx-fluent-design-icon>
</div>

<div class="overlay" (click)="mobileSidenavHandler.close()" [@slideInRight]="mobileSidenavHandler.isOpen ? 'show' : 'hide'">
    <div class="overlay-content" (click)="$event.stopPropagation()">
        <div class="sticky-navigation">
            <div class="w-100 justify-content-center d-flex">
                <img *ngIf="isNormalTheme" alt="ngx-fluent-design logo" class="fluent-design-logo img-fluid" src="../../../../assets/main-logo-light.svg"/>
                <img *ngIf="!isNormalTheme" alt="ngx-fluent-design logo" class="fluent-design-logo img-fluid" src="../../../../assets/main-logo-dark.svg"/>
            </div>
            <div class="px-4 pt-5 h-100">
                <ngx-fluent-design-toggle (change)="toggleTheme()" [label]="'Toggle dark mode'" [toggled]="!isNormalTheme"></ngx-fluent-design-toggle>
                <section class="mt-2">
                    <p>Current Version: {{currentPackageVersion}}</p>
                    <a ngxFluentDesignLinkButton (click)="mobileSidenavHandler.close()" class="mt-3" routerLinkActive="active"
                       [routerLink]="['', 'home', 'welcome']">Home</a>
                </section>
                <div class="components my-3">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <h4 class="pane-header">Components</h4>
                        <ngx-fluent-design-icon
                            *ngIf="mobileSidenavHandler.isOpen"
                            (click)="mobileSidenavHandler.close()"
                            [icon]="closeIcon"
                            [ngxFluentDesignCssVariableName]="'--ngx-fluent-design-foreground-neutral-primary'">
                        </ngx-fluent-design-icon>
                    </div>
                    <hr>
                    <div class="components-links d-flex flex-column">
                        <section *ngFor="let item of sideNavLinks">
                            <section class="component-section" *ngIf="item.shouldDisplayOnLive || !isProdEnvironment">
                                <h5 class="subject-title">{{item.title}}</h5>
                                <ng-container *ngFor="let link of item.subNavItems">
                                    <a ngxFluentDesignLinkButton *ngIf="link.shouldDisplayOnLive || !isProdEnvironment"
                                       (click)="mobileSidenavHandler.close()"
                                       routerLinkActive="active"
                                       [routerLink]="link.routerLink">{{link.title}}
                                    </a>
                                </ng-container>
                            </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
