<h2 class="page-title">Text Area Borderless</h2>
<section class="my-4">
    <ngx-fluent-design-message-bar messageBarType="warning">
        It is recommended that you add your own error messaging to this input type as there will be no indicator for errors
    </ngx-fluent-design-message-bar>
</section>

<component-api-table [data]="textareaApiData"></component-api-table>

<code-example
    codeExampleUrl="./assets/docs/code-examples/inputs/text-area-borderless/text-area-borderless-usage.example.ts"
    title="Usage">
    <ngx-fluent-design-textarea-borderless [disabled]="disableTextAreaInput">
        <textarea placeholder="this is a standard text area" rows="5"
                  [formControl]="textAreaInput"></textarea>
    </ngx-fluent-design-textarea-borderless>

    <ngx-fluent-design-toggle
        [label]="'Toggle disabled'"
        [toggled]="disableTextAreaInput"
        [inlineLabel]="true"
        (changeEvent)="disableTextAreaInput = !disableTextAreaInput">
    </ngx-fluent-design-toggle>
</code-example>
