<h2 class="page-title">Checkbox</h2>
<version-support-table [supportsV11]="true" [supportsV12]="true" [supportsV13]="true"></version-support-table>
<component-api-table [data]="checkboxApiData"></component-api-table>

<code-example
        codeExampleUrl="./assets/docs/code-examples/inputs/checkbox/checkbox-usage.example.ts"
        title="Example">
    <div class="d-flex flex-md-row flex-column">
        <div class="d-flex flex-column w-50 justify-content-between align-middle">
            <h4>Unchecked</h4>
            <ngx-fluent-design-checkbox
                    class="mb-3"
                    [label]="'Rest'"></ngx-fluent-design-checkbox>
            <ngx-fluent-design-checkbox
                    class="mb-3"
                    [label]="'Disabled'"
                    [disabled]="true"
                    [checked]="false"></ngx-fluent-design-checkbox>
        </div>
        <div class="d-flex flex-column w-50 justify-content-between align-middle">
            <h4>Checked</h4>
            <ngx-fluent-design-checkbox
                    class="mb-3"
                    [label]="'Rest'"
                    [checked]="true"></ngx-fluent-design-checkbox>
            <ngx-fluent-design-checkbox
                    class="mb-3"
                    [label]="'Disabled'"
                    [disabled]="true"
                    [checked]="true"></ngx-fluent-design-checkbox>
        </div>
    </div>
</code-example>
