<h2 class="page-title">Spinner</h2>

<code-example
        codeExampleUrl="./assets/docs/code-examples/progress/spinner/ngx-fluent-design-spinner.interface.example.ts"
        title="API"
        [isUsageDocumentation]="false">
</code-example>

<ngx-fluent-design-card>
    <h3 class="mb-4">Examples</h3>
    <h4 class="pb-3">Label</h4>
    <div class="d-flex align-items-center pb-3">
        <ngx-fluent-design-spinner class="col-3" [size]="'extra-small'" [label]="'Loading...'"></ngx-fluent-design-spinner>
        <ngx-fluent-design-spinner class="col-3" [size]="'small'" [label]="'Loading...'"></ngx-fluent-design-spinner>
        <ngx-fluent-design-spinner class="col-3" [size]="'medium'" [label]="'Loading...'"></ngx-fluent-design-spinner>
        <ngx-fluent-design-spinner class="col-3" [size]="'large'" [label]="'Loading...'"></ngx-fluent-design-spinner>
    </div>
    <h4 class="pb-3">No Label</h4>
    <div class="d-flex justify-content-around align-items-center">
        <ngx-fluent-design-spinner class="col-3" [size]="'extra-small'"></ngx-fluent-design-spinner>
        <ngx-fluent-design-spinner class="col-3" [size]="'small'"></ngx-fluent-design-spinner>
        <ngx-fluent-design-spinner class="col-3" [size]="'medium'"></ngx-fluent-design-spinner>
        <ngx-fluent-design-spinner class="col-3" [size]="'large'"></ngx-fluent-design-spinner>
    </div>
</ngx-fluent-design-card>
