@import "~ngx-fluent-design/src/lib/styles/variables";

::ng-deep {
    body, html {
        .no-scroll {
            overflow: hidden;
        }
    }
}

.mobile-nav-menu-button {
    position: fixed;
    margin: 20px 19px 10px 15px;
    opacity: 0.7;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9000;

    &.open {
        margin: 20px 19px 10px 5px;
        background-color: $ngx-fluent-design-theme-primary;
    }
}

.overlay {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    align-items: flex-start;
    height: 100vh;
    background-color: $ngx-fluent-design-foreground-white-rgba;

    .overlay-content {
        cursor: default;
        z-index: 9000;
        top: 0;
        right: 0;
        bottom: 0;
        position: relative;
        height: 100vh;
        background-color: $ngx-fluent-design-foreground-white;
        width: 75%;

        .sticky-navigation {
            padding: 24px 12px;
            top: 0;
            background-color: $ngx-fluent-design-foreground-white;
            width: 75%;
            min-height: 100vh;
            height: 100%;
            z-index: 2;
            position: fixed;
            overflow-y: scroll;

            .fluent-design-logo {
                max-width: 120px;
                margin: 24px 0 0 0;
            }

            .components {
                .components-links {
                    .component-section {
                        display: flex;
                        flex-direction: column;

                        h5 {
                            margin: 12px 0;
                            font-weight: lighter;
                        }

                        a {
                            margin: 5px 0;
                        }
                    }
                }
            }
        }
    }
}
