.mobile-nav-menu-button {
    position: absolute;
}

.sticky-navigation {
    top: 0;
    background: white;
    width: 75%;
    min-height: 100vh;
    height: 100%;
    z-index: 2;
    position: fixed;

    .components {

        overflow-y: scroll;
        .components-links {
            .component-section {
                display: flex;
                flex-direction: column;
                h5 {
                    margin: 12px 0;
                    font-weight: lighter;
                }
                a {
                    margin: 5px 0;
                }
            }
        };
    }
}
