<div *ngIf="!isNavMenuOpen" (click)="setIsNavMenuOpen(true)" class="mobile-nav-menu-button">
    <label id="nav-icon1">
        <span></span>
        <span></span>
        <span></span>
    </label>
</div>

<ngx-fluent-design-sheet [hidden]="!isNavMenuOpen">
    <div class="sticky-navigation">
        <div class="w-100 justify-content-center d-flex">
            <img alt="ngx-fluent-design logo" class="fluent-design-logo img-fluid" src="./assets/main-logo.svg" />
        </div>
        <div class="px-4 pt-5 h-100">
            <section class="mt-2">
                <a class="fluent-design-link mt-3" routerLinkActive="active" [routerLink]="['', 'home']">Home</a>
            </section>
            <div class="components my-4">
                <div class="d-flex w-100 justify-content-between">
                    <h4 class="pane-header">Components</h4>
                    <i (click)="setIsNavMenuOpen(false)" class="gg-close align-self-center"></i>
                </div>
                <hr>
                <div class="components-links d-flex flex-column">
                    <section *ngFor="let item of sideNavLinks">
                        <section class="component-section" *ngIf="item.shouldDisplayOnLive || !isProdEnvironment">
                            <h5 class="subject-title">{{item.title}}</h5>
                            <ng-container *ngFor="let link of item.subNavItems">
                                <a ngxFluentDesignLinkButton *ngIf="link.shouldDisplayOnLive || !isProdEnvironment"
                                   routerLinkActive="active"
                                   [routerLink]="link.routerLink">{{link.title}}
                                </a>
                            </ng-container>
                        </section>
                    </section>
                </div>
            </div>
        </div>
    </div>
</ngx-fluent-design-sheet>
