<div class="sticky-navigation" *ngIf="sideNavLinks">
    <div class="h-100">
        <div class="components">
            <div class="w-100 justify-content-center d-flex">
                <img alt="ngx-fluent-design logo" class="fluent-design-logo img-fluid" src="./assets/main-logo.svg" />
            </div>
            <section class="p-4">
                <section class="mt-2">
                    <p>Current Version: {{currentPackageVersion}}</p>
                    <a ngxFluentDesignLinkButton class="mt-3" routerLinkActive="active" [routerLink]="['', 'home', 'welcome']">Home</a>
                </section>
                <h4 class="pane-header">Components</h4>
                <hr>
                <div class="components-links d-flex flex-column">
                    <section *ngFor="let item of sideNavLinks">
                        <section class="component-section" *ngIf="item.shouldDisplayOnLive || !isProdEnvironment">
                            <h5 class="subject-title">{{item.title}}</h5>
                            <ng-container *ngFor="let link of item.subNavItems">
                                <a ngxFluentDesignLinkButton *ngIf="link.shouldDisplayOnLive || !isProdEnvironment"
                                   routerLinkActive="active"
                                   [routerLink]="link.routerLink">{{link.title}}
                                </a>
                            </ng-container>
                        </section>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>
