<section class="top-alert">
    <ngx-fluent-design-message-bar
        class="alert-component"
        [canDismiss]="true"
        [actionName]="'Reload'"
        [handler]="appUpdatesMessageBarHandler"
        (actionClicked)="reloadApplication()"
        (closeClicked)="appUpdatesMessageBarHandler.close()"
        messageBarType="success">
            It looks like there might be an update for this application, reload the page to get the latest updates
    </ngx-fluent-design-message-bar>

    <ngx-fluent-design-message-bar
        [handler]="onlineStatusMessageBarHandler"
        class="alert-component"
        [canDismiss]="true"
        (closeClicked)="onlineStatusMessageBarHandler.close()"
        messageBarType="error">
            Application is currently offline. This might affect Asset fetching
    </ngx-fluent-design-message-bar>
</section>

<div class="w-100 h-100 d-flex">
    <app-navigation *ngIf="shouldDisplayNavMenu" [navigationLinks]="navItems"></app-navigation>
    <div class="application-outlet">
        <router-outlet></router-outlet>
    </div>
</div>
