<div class="container error-page-content">
    <app-logo-component></app-logo-component>
    <h1 class="text-center">Site down for Maintenance.</h1>

    <ngx-fluent-design-card>
        <h2>What does this mean?</h2>
        <p>We have updated ngx-fluent-design to a breaking version,
            seeing as though docs always uses the latest version, we have bought this page down
            so that we can be sure that you're always getting the most accurate information.
        </p>
        <p>We will be back up shortly.</p>
    </ngx-fluent-design-card>
</div>
