<h2 class="page-title">Standard Text Area</h2>

<component-api-table [data]="textareaApiData"></component-api-table>

<code-example
    codeExampleUrl="./assets/docs/code-examples/inputs/text-area-standard/text-area-standard-usage-validator.example.ts"
    title="Usage with Validators">
    <h3 class="mb-4">Output</h3>
    <ngx-fluent-design-standard-textarea [disabled]="disableStandardInputWithValidator" [label]="'standard Input'">
        <textarea ngxFluentDesignInput rows="10" placeholder="this is a standard text area with a validator"
                  [formControl]="standardInputValidator">
        </textarea>
    </ngx-fluent-design-standard-textarea>

    <ngx-fluent-design-toggle
        [label]="'Toggle disabled'"
        [toggled]="disableStandardInputWithValidator"
        [inlineLabel]="true"
        (changeEvent)="disableStandardInputWithValidator = !disableStandardInputWithValidator">
    </ngx-fluent-design-toggle>
</code-example>
