<section class="w-100 container-fluid py-4">
    <h1 class="hero-title">Icons</h1>
    <h2 class="header">A collection of Icons that can be used anywhere in your application, with the option to create your own Icons too</h2>

    <section class="my-3">
        <ngx-fluent-design-message-bar messageBarType="warning">
            We are currently only adding icons to this library as and when we need to. However, the ngx-fluent-design-icon component is
            open to custom iconography. To create your own icons, see Custom Icons
        </ngx-fluent-design-message-bar>
    </section>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/icons/module-import.example.ts"
        title="Import in module"
        [isUsageDocumentation]="false">
    </code-example>

    <router-outlet></router-outlet>
</section>
