<section class="w-100 container-fluid py-4">
    <h1 class="hero-title">Icons</h1>
    <h2 class="header">A collection of Icons that can be used anywhere in your application, with the option to create your own Icons too</h2>

    <version-support-table [supportsV11]="true" [supportsV12]="true" [supportsV13]="true"></version-support-table>

    <code-example
        codeExampleUrl="./assets/docs/code-examples/icons/module-import.example.ts"
        title="Import in module"
        [isUsageDocumentation]="false">
    </code-example>

    <router-outlet></router-outlet>
</section>
