/* You can add global styles to this file, and also import other style files */
@import './node_modules/bootstrap-scss/bootstrap-grid.scss';
@import './node_modules/bootstrap-scss/variables';
@import './node_modules/bootstrap-scss/mixins';
@import './node_modules/bootstrap-scss/utilities';
@import './node_modules/bootstrap-scss/functions';
@import "./node_modules/ngx-fluent-design/src/lib/styles";
@import "app/styles/typography";

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
    background: #f3f2f1 !important;
}

:root {
    /* Error and status background colors */
    --ngx-fluent-design-error-background-fill: #FDE7E9;
    --ngx-fluent-design-success-background-fill: #DFF6DD;
    --ngx-fluent-design-severe-background-fill: #FED9CC;
    --ngx-fluent-design-warning-background-fill: #FFF4CE;

    /* Error and status text colors */
    --ngx-fluent-design-status-error: 168, 0, 0;
    --ngx-fluent-design-status-success: 16, 124, 16;
    --ngx-fluent-design-status-severe-warning: 216, 59, 1;
    --ngx-fluent-design-status-warning: 121, 119, 117;
}

body {
    margin: 0;
    background: var(--application-background) !important;
    scroll-behavior: smooth;

    code {
        color: $ngx-fluent-design-foreground-neutral-primary
    }
}

.c-pointer {
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 8px;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
    background-color: $ngx-fluent-design-background-neutral-lighter;
}

*::-webkit-scrollbar-thumb {
    background: $ngx-fluent-design-background-neutral-tertiary-alt;
    border-radius: 2px;
}