<code-example
        codeExampleUrl="./assets/docs/code-examples/progress/progress-indicator/ngx-fluent-design-progress-indicator.interface.example.ts"
        title="API"
        [isUsageDocumentation]="false">
</code-example>

<ngx-fluent-design-card>
    <div class="d-flex justify-content-between align-items-center">
        <h3>Example</h3>
        <ngx-fluent-design-button (clicked)="resetProgress()" [disabled]="!(progressIndicatorCurrentValue >= 100)">Reset progress</ngx-fluent-design-button>
    </div>
    <div class="d-flex align-items-center pb-3">
        <ngx-fluent-design-progress-indicator [label]="'Label'" [description]="'Description'" [currentValue]="progressIndicatorCurrentValue" class="w-100"></ngx-fluent-design-progress-indicator>
    </div>
</ngx-fluent-design-card>
