<h2 class="page-title">Panel</h2>
<version-support-table [supportsV11]="true" [supportsV12]="true" [supportsV13]="true"></version-support-table>
<component-api-table [data]="apiData"></component-api-table>

<code-example [isUsageDocumentation]="true"
              codeExampleUrl="./assets/docs/code-examples/common/panel/panel-usage-example.component.ts">
    <h3 class="pane-header">Demo</h3>
    <section class="mt-5">
        <ngx-fluent-design-button type="primary" (clicked)="panelHandler.open()">
            Click Here to launch a panel
        </ngx-fluent-design-button>
    </section>
</code-example>

<ngx-fluent-design-panel header="Tadaaaaaa"
                        [canDismissWithOuterContent]="true"
                        [includeReturnCta]="true"
                        [returnCtaLabel]="'Return to application'"
                        [handler]="panelHandler"
                        [displayCloseIcon]="false">
    <p>Nice! This is a Panel component</p>
</ngx-fluent-design-panel>
